<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ViewCampaignServlet</servlet-name>
        <servlet-class>controller.ViewCampaignServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCampaignServlet</servlet-name>
        <servlet-class>controller.UpdateCampaignServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCampaignServlet</servlet-name>
        <servlet-class>controller.DeleteCampaignServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCampaignServlet</servlet-name>
        <servlet-class>controller.CreateCampaignServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewCampaignServlet</servlet-name>
        <url-pattern>/ViewCampaignServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCampaignServlet</servlet-name>
        <url-pattern>/UpdateCampaignServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCampaignServlet</servlet-name>
        <url-pattern>/DeleteCampaignServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCampaignServlet</servlet-name>
        <url-pattern>/CreateCampaignServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
